[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_ipopui
X-NetworkManager-Services=org.freedesktop.NetworkManager.ipop
X-KDE-PluginInfo-Author=Andreas Ihrig
X-KDE-PluginInfo-Email=mod.andy@gmx.de
X-KDE-PluginInfo-Name=networkmanagement_ipopui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=IPOP
Name[ar]=IPOP
Name[bs]=IPOP
Name[ca]=IPOP
Name[cs]=IPOP
Name[da]=IPOP
Name[de]=IPOP
Name[es]=IPOP
Name[et]=IPOP
Name[fi]=IPOP
Name[fr]=IPOP
Name[ga]=IPOP
Name[gl]=IPOP
Name[hu]=IPOP
Name[ia]=IPOP
Name[it]=IPOP
Name[kk]=IPOP
Name[km]=IPOP
Name[ko]=IPOP
Name[lt]=IPOP
Name[mr]=IPOP
Name[nb]=IPOP
Name[nds]=IPOP
Name[nl]=IPOP
Name[pl]=IPOP
Name[pt]=IPOP
Name[pt_BR]=IPOP
Name[ro]=IPOP
Name[ru]=IPOP
Name[sk]=IPOP
Name[sl]=IPOP
Name[sr]=ИПОП
Name[sr@ijekavian]=ИПОП
Name[sr@ijekavianlatin]=IPOP
Name[sr@latin]=IPOP
Name[sv]=IPOP
Name[tr]=IPOP
Name[uk]=IPOP
Name[x-test]=xxIPOPxx
Name[zh_CN]=IPOP
Name[zh_TW]=IPOP
Comment=IPOP plugin
Comment[ar]=ملحق IPOP
Comment[bs]=IPOP priključak
Comment[ca]=Connector de IPOP
Comment[cs]=Modul IPOP
Comment[da]=IPOP-plugin
Comment[de]=IPOP-Modul
Comment[es]=Complemento de IPOP
Comment[et]=IPOP-i plugin
Comment[fi]=IPOP-liitännäinen
Comment[fr]=Module externe IPOP
Comment[ga]=Breiseán IPOP
Comment[gl]=Engadido de IPOP.
Comment[hu]=IPOP-modul
Comment[ia]=Plugin de IPOP
Comment[it]=Estensione IPOP
Comment[kk]=IPOP плагині
Comment[km]=កម្មវិធី​ជំនួយ IPOP
Comment[ko]=IPOP 플러그인
Comment[lt]=IPOP papildinys
Comment[mr]=IPOP प्लगइन
Comment[nb]=IPOP programtillegg
Comment[nds]=IPOP-Moduul
Comment[nl]=IPOP-plugin
Comment[pl]=Wtyczka IPOP
Comment[pt]='Plugin' do IPOP
Comment[pt_BR]=Plugin do IPOP
Comment[ro]=Modul IPOP
Comment[ru]=Модуль IPOP
Comment[sk]=IPOP modul
Comment[sl]=Vstavek IPOP
Comment[sr]=Прикључак ИПОП‑а
Comment[sr@ijekavian]=Прикључак ИПОП‑а
Comment[sr@ijekavianlatin]=Priključak IPOP‑a
Comment[sr@latin]=Priključak IPOP‑a
Comment[sv]=Insticksprogram för IPOP
Comment[tr]=IPOP Eklentisi
Comment[uk]=Додаток IPOP
Comment[x-test]=xxIPOP pluginxx
Comment[zh_CN]=IPOP 插件
Comment[zh_TW]=IPOP 外掛程式


